* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
  width: 100%;
  height: 400px;
  background: #ddd;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 100%;
}

.hide-slide {
  display: none;
  height: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin-top: -22px;
  padding: 24px 16px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background: #888;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  opacity: 0.8;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.banner_text {
  color: #f2f2f2;
  background-color: transparent;
  padding: 8px;
  border-radius: 4px;
  font-size: 15px;
  position: absolute;
  bottom: 8px;
  text-align: center;
  margin: 16px 32px;
}

.bottom-center {
  background: unset;
  width: 100%;
  margin: 0 0 24px 0;
}

.bottom-center span {
  background: unset;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px;
  border-radius: 4px;
}

.top-left {
  top: 40px;
  left: 20px;
  bottom: unset;
}

.top-left span {
  background: unset;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px;
  border-radius: 4px;
}

.top-right {
  top: 40px;
  right: 20px;
  bottom: unset;
  left: unset;
}

.top-right span {
  background: unset;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px;
  border-radius: 4px;
}

.bottom-left {
  bottom: 40px;
  left: 20px;
}

.bottom-left span {
  background: unset;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px;
  border-radius: 4px;
}

.bottom-right {
  bottom: 40px;
  right: 20px;
  left: unset;
}

.bottom-right span {
  background: unset;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px;
  border-radius: 4px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* The dots/bullets/indicators */

.parent-banner {
  position: relative;
}

.dost-parent {
  text-align: center;
  display: block;
  margin-top: 20px;
  position: absolute;
  width: 100%;
  bottom: 3px;
}

.cbdot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.cbdot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  position: relative;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .bottom-center span {
    display: block;
    word-wrap: break-word;
  }
  .top-left span {
    display: block;
    word-wrap: break-word;
  }
  .top-right span {
    display: block;
    word-wrap: break-word;
  }
  .bottom-left span {
    display: block;
    word-wrap: break-word;
  }
  .bottom-right span {
    display: block;
    word-wrap: break-word;
  }
}
