textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.te_prop_container {
  margin-bottom: 0.5rem;
}

.te_checkbox_container {
  display: flex;
  align-items: center;
  height: 20px;
  margin-top: 0.5rem;
}

.te_checkbox {
  width: 15px;
}

.te_checkbox_labeltext {
  font-size: 12px;
  color: var(--black-color);
  margin-left: 0.5rem;
}

.te_prop_titletext {
  font-size: 12px;
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}

.te_prop_formcontainer {
  width: 100%;
}

.te_uploadimg_label {
  border: 1px solid var(--grey-color);
  padding: 7px 10px;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  width: 100%;
  margin: 5px 0px;
}

.te_img_name {
  color: #ccc;
  font-size: 12px;
  font-weight: 100;
  margin-left: 0.5rem;
  white-space: nowrap;
}

.testimonial_card_styles {
  border-radius: 10px;
  height: 16.5rem;
  width: 85%;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 20px;
  font-size: 14px;
  color: #666;
  margin-bottom: 0;
}

.testimonial_inner_div_card {
  height: 16.5rem;
  width: 14.5rem;
  background-color: var(--white-color);
}

.testimonial_card_styles img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.testimonial_prev_btn {
  width: max-content;
  height: max-content;
  margin: auto;
}

.testimonial_subcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.testimonial_card_styles h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.testimonial_author {
  font-weight: bolder;
  text-align: center;
}

.testimonial_feedback_text {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img_wrapper_testimonial {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
}

.testimonial_container {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 10px;
}

.indicators {
  text-align: center;
  margin-bottom: 6px;
}

.indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.active-indicator {
  background-color: rgba(0, 0, 0, 0.8);
}

.testimonial_card_styles {
  border-radius: 10px;
  height: 16.5rem;
  width: 85%;
  font-size: 14px;
  color: #666;
  margin: 20px;
  margin-bottom: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.testimonial_card_styles img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.testimonial_card_styles h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.testimonial_inner_div_card {
  height: 16.5rem;
  width: 14.5rem;
  background-color: var(--white-color);
}

.testimonial_active_indicator {
  background-color: rgba(0, 0, 0, 0.8);
}

.testimonial-editor-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.testimonial-form {
  width: 45%;
}

.testimonial-content {
  padding: 20px;
}

.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-author {
  font-weight: bolder;
  text-align: center;
}

.feedback_text {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100px;
  overflow-y: auto;
  font-size: 11px;
  margin-top: 5px;
  text-align: center;
}

.feedback_text::-webkit-scrollbar {
  width: 3px;
  margin-left: 5px;
}

.feedback_text::-webkit-scrollbar-thumb {
  background-color: var(--grey-color-888);
  border-radius: 3px;
}

.feedback_text::-webkit-scrollbar-track {
  background-color: var(--grey-color-eee);
  border-radius: 3px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .testimonial_container {
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    gap: 10px;
  }
}
