@import "../assets/theme.css";
.mainTestimonialCard {
  background-color: #efefef;
  padding: 1.5rem 0.5rem 0.5rem 0.5rem;
}
.background-color-white {
  background-color: #fff;
}
.react-multi-carousel-dot-list {
  bottom: 0px;
}

.testimonial_card_styles {
  border-radius: 10px;
  height: 21.5rem;
  width: 85%;
}
.testimonial_inner_div_card {
  height: 16.5rem;
  background-color: #fff;
}
.img_wrapper_testimonial {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.feedback_text {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: "black";
}
li {
  text-align: center !important;
  list-style: none !important;
}
