.footer {
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 2rem 6rem;
  line-height: 30px;
}

.footer-links {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 10px 4px;
}

.social-list :first-child {
  padding-left: 0 !important;
}
.li_decoration {
  text-decoration: none;
  list-style: none;
}
a {
  color: #fff;
  color: unset;
  text-decoration: none;
}
