@import "../Elements/assets/theme.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
#root {
  width: 100%;
}
input[type="checkbox"] {
  min-height: 30px;
  border-radius: 6px;
  border: 1px solid #c0c0c094;
}
p {
  margin: 0;
}
.input-label-size-default {
  font-size: 12px;
}

/* current change start*/
.fb_container {
  border: 1px solid #c0c0c094;
  border-radius: 6px;
  margin: 20px auto;
  max-width: 70%;
  padding: 1rem;
}

.fb_container .checkbox {
  display: inline-block;
  margin: 0 0 0px 9px !important;
  position: relative;
  top: 5px;
  width: 20px !important;
}

.checkbox-parent {
  margin-bottom: 8px;
}

.fb_container button {
  margin: 10px 0;
}

.fb_container .checkbox-label {
  position: relative;
  top: 5px;
}

.selectBoxContainer {
  display: flex;
  flex-direction: column;
}

.selectBoxContainer label {
  font-size: 12px;
}

.form_inputContainer {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.radioContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form_input_placeholder::placeholder {
  color: var(--placeholder-color);
}

.checkbox_container {
  padding: 0 0.5rem;
}

.p3 {
  padding: 3rem;
}
.p4 {
  padding: 4rem;
}
.p5 {
  padding: 5rem;
}

.fp_text {
  padding: 10px 0px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="phone"],
input[type="number"],
textarea {
  width: 100%;
  min-height: 30px;
  border-radius: 6px;
  border: 1px solid #c0c0c094;
  width: 100%;
  display: block;
}
input,
select,
textarea {
  background-color: "#FFFFFF";
  padding: 5px 10px;
  margin: 5px 0px 5px;
  box-sizing: border-box;
}

.border-red {
  border: 1px solid red;
}

.border-green {
  border: 1px solid #2c7d27 !important;
}
.border-green-2 {
  border: 2px solid #2c7d27 !important;
}
.border-blue {
  border: 1px solid #3e35f1 !important;
}
.active-video-border {
  border: 2px solid #3e35f1 !important;
  border-radius: 10px !important;
}
.border-white {
  border: 1px solid #ffffff !important;
}
.bg-red {
  background-color: red;
}
.bg-blue {
  background-color: #3e35f1;
}
.bg-white {
  background-color: #ffffff;
}
.bg-light-blue {
  background-color: #c6e3ff87;
}
.bg-transparent {
  background-color: transparent !important;
}
/*************** Typography Styles ***************/

.font-size-inherit {
  font-size: inherit !important;
}
.text-decoration-none {
  text-decoration: none !important;
}
.bold {
  font-weight: bold !important;
}
.font-weight-100 {
  font-weight: 100 !important;
}
.font-weight-400 {
  font-weight: 400 !important;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.font-weight-600 {
  font-weight: 600 !important;
}
.regular {
  font-weight: normal !important;
}
.italic {
  font-style: italic !important;
}
.caps {
  text-transform: uppercase !important;
}
.camelCase {
  text-transform: capitalize !important;
}
.left-align {
  text-align: left !important;
}
.center {
  text-align: center !important;
}
.right-align {
  text-align: right !important;
}
.justify {
  text-align: justify !important;
}
.nowrap {
  white-space: nowrap !important;
}
.break-word {
  word-wrap: break-word !important;
}
.line-height-1 {
  line-height: 1 !important;
}
.line-height-2 {
  line-height: 1.125 !important;
}
.line-height-3 {
  line-height: 1.25 !important;
}
.line-height-4 {
  line-height: 1.5 !important;
}
.list-style-none {
  list-style: none !important;
}
.underline {
  text-decoration: underline !important;
}
.link-underline:hover {
  text-decoration: underline;
  /* / Add underline on hover / */
}
.truncate {
  max-width: 100% !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
.list-reset {
  list-style: none !important;
  padding-left: 0 !important;
}

/*************** Display Styles ***************/

.inline {
  display: inline !important;
}
.block {
  display: block !important;
}
.inline-block {
  display: inline-block !important;
}
.display-none {
  display: none !important;
}
.table {
  display: table !important;
}
.table-cell {
  display: table-cell !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.overflow-hidden-x {
  overflow-x: hidden !important;
}
.overflow-visible {
  overflow: visible !important;
}
.overflow-scroll {
  overflow: auto !important;
}
.overflow-x {
  overflow-x: scroll !important;
}
.overflow-y {
  overflow-y: scroll !important;
}
.overflow-auto {
  overflow: auto !important;
}
.clearfix {
  &:before {
    content: " " !important;
    display: table !important;
  }
  &:after {
    content: " " !important;
    display: table !important;
    clear: both !important;
  }
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.fit {
  max-width: 100% !important;
}
.fluid {
  width: 100% !important;
}
.w47 {
  width: 47% !important;
}
.w50 {
  width: 50% !important;
}

.w60 {
  width: 60% !important;
}
.w70 {
  width: 70% !important;
}
.w75 {
  width: 75% !important;
}
.w80 {
  width: 80% !important;
}
.w90 {
  width: 90% !important;
}
.w15 {
  width: 15% !important;
}
.w95 {
  width: 95% !important;
}
.w20 {
  width: 20% !important;
}
.w24 {
  width: 24% !important;
}
.w30 {
  width: 30% !important;
}
.w70 {
  width: 70% !important;
}
.w65 {
  width: 65% !important;
}
.w40 {
  width: 40% !important;
}
.max-width-1 {
  max-width: 24rem !important;
}
.max-width-2 {
  max-width: 32rem !important;
}
.max-width-3 {
  max-width: 48rem !important;
}
.max-width-4 {
  max-width: 64rem !important;
}
.border-box {
  box-sizing: border-box !important;
}
.align-baseline {
  vertical-align: baseline !important;
}
.align-top {
  vertical-align: top !important;
}
.align-middle {
  vertical-align: middle !important;
}
.align-bottom {
  vertical-align: bottom !important;
}

/*************** Margin Styles ***************/
.m-auto {
  margin: auto;
}

.m0 {
  margin: 0 !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mr0 {
  margin-right: 0 !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.ml0 {
  margin-left: 0 !important;
}
.mx0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.my0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.m02 {
  margin: 0.2rem !important;
}
.m1 {
  margin: 0.5rem !important;
}
.mr1 {
  margin-right: 0.5rem !important;
}
.mb1 {
  margin-bottom: 0.5rem !important;
}
.ml1 {
  margin-left: 0.5rem !important;
}
.mx1 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}
.my1 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
.m2 {
  margin: 1rem !important;
}
.mr2 {
  margin-right: 1rem !important;
}
.mb2 {
  margin-bottom: 1rem !important;
}
.ml2 {
  margin-left: 1rem !important;
}
.mx2 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}
.my2 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.m3 {
  margin: 2rem !important;
}
.mr3 {
  margin-right: 2rem !important;
}
.mb3 {
  margin-bottom: 2rem !important;
}
.ml3 {
  margin-left: 2rem !important;
}
.mx3 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}
.my3 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
.m4 {
  margin: 4rem !important;
}
.mt05 {
  margin-top: 0.5rem !important;
}
.mt75 {
  margin-top: 0.75rem !important;
}

.mt1 {
  margin-top: 1rem !important;
}
.mt2 {
  margin-top: 2rem !important;
}
.mt3 {
  margin-top: 3rem !important;
}
.mt4 {
  margin-top: 4rem !important;
}
.mr4 {
  margin-right: 4rem !important;
}
.mb4 {
  margin-bottom: 4rem !important;
}
.ml4 {
  margin-left: 4rem !important;
}
.mx4 {
  margin-left: 4rem !important;
  margin-right: 4rem !important;
}
.my4 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}
.mxn1 {
  margin-left: -0.5rem !important;
  margin-right: -0.5rem !important;
}
.mxn2 {
  margin-left: -1rem !important;
  margin-right: -1rem !important;
}
.mxn3 {
  margin-left: -2rem !important;
  margin-right: -2rem !important;
}
.mxn4 {
  margin-left: -4rem !important;
  margin-right: -4rem !important;
}

.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.ml5 {
  margin-left: 235px !important;
}

/*************** Padding Styles ***************/

.p0 {
  padding: 0 !important;
}
.pt0 {
  padding-top: 0 !important;
}
.pr0 {
  padding-right: 0 !important;
}
.pb0 {
  padding-bottom: 0 !important;
}
.pl0 {
  padding-left: 0 !important;
}
.px0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.py0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p1 {
  padding: 1rem !important;
}

.p05 {
  padding: 0.5rem !important;
}
.pt1 {
  padding-top: 0.5rem !important;
}
.pr1 {
  padding-right: 0.5rem !important;
}
.pb1 {
  padding-bottom: 0.5rem !important;
}
.pl1 {
  padding-left: 0.5rem !important;
}
.py1 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.px1 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.checkbox-margin {
  margin-left: 20px;
}

.text-area-container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.text-input {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.p2 {
  padding: 1rem !important;
}
.pt2 {
  padding-top: 1rem !important;
}
.pr2 {
  padding-right: 1rem !important;
}
.pb2 {
  padding-bottom: 1rem !important;
}
.pl2 {
  padding-left: 1rem !important;
}
.py2 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.px2 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.p3 {
  padding: 2rem !important;
}
.pt3 {
  padding-top: 2rem !important;
}
.pr3 {
  padding-right: 2rem !important;
}
.pb3 {
  padding-bottom: 2rem !important;
}
.pl3 {
  padding-left: 2rem !important;
}

.py2_5 {
  padding-top: 1.7rem !important;
  padding-bottom: 1rem !important;
}
.py3 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}
.px3 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
.p4 {
  padding: 4rem !important;
}
.pt4 {
  padding-top: 4rem !important;
}
.pr4 {
  padding-right: 4rem !important;
}
.pb4 {
  padding-bottom: 4rem !important;
}
.pl4 {
  padding-left: 4rem !important;
}
.py4 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}
.px4 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}
.py5 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}
.px5 {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}
.py6 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}
.px6 {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}

/*************** Flexbox Utility Styles ***************/

.flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.inline-flex {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}
.flex-row {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}
.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}
.items-start {
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}
.items-end {
  -webkit-box-align: end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}
.items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
.items-baseline {
  -webkit-box-align: baseline !important;
  -ms-flex-align: baseline !important;
  align-items: baseline !important;
}
.items-stretch {
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}
.self-start {
  -ms-flex-item-align: start !important;
  align-self: flex-start !important;
}
.self-end {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important;
}
.self-center {
  -ms-flex-item-align: center !important;
  -ms-grid-row-align: center !important;
  align-self: center !important;
}
.self-baseline {
  -ms-flex-item-align: baseline !important;
  align-self: baseline !important;
}
.self-stretch {
  -ms-flex-item-align: stretch !important;
  -ms-grid-row-align: stretch !important;
  align-self: stretch !important;
}
.justify-start {
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}
.justify-end {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}
.justify-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.justify-evenly {
  -webkit-box-pack: space-evenly !important;
  -ms-flex-pack: space-evenly !important;
  justify-content: space-evenly !important;
}
.justify-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}
.justify-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}
.content-start {
  -ms-flex-line-pack: start !important;
  align-content: flex-start !important;
}
.content-end {
  -ms-flex-line-pack: end !important;
  align-content: flex-end !important;
}
.content-center {
  -ms-flex-line-pack: center !important;
  align-content: center !important;
}
.content-between {
  -ms-flex-line-pack: justify !important;
  align-content: space-between !important;
}
.content-around {
  -ms-flex-line-pack: distribute !important;
  align-content: space-around !important;
}
.content-stretch {
  -ms-flex-line-pack: stretch !important;
  align-content: stretch !important;
}
.flex-auto {
  -webkit-box-flex: 1 !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
  min-width: 0 !important;
  min-height: 0 !important;
}
.flex-none {
  -webkit-box-flex: 0 !important;
  -ms-flex: none !important;
  flex: none !important;
}
.order-0 {
  -webkit-box-ordinal-group: 1 !important;
  -ms-flex-order: 0 !important;
  order: 0 !important;
}
.order-1 {
  -webkit-box-ordinal-group: 2 !important;
  -ms-flex-order: 1 !important;
  order: 1 !important;
}
.order-2 {
  -webkit-box-ordinal-group: 3 !important;
  -ms-flex-order: 2 !important;
  order: 2 !important;
}
.order-3 {
  -webkit-box-ordinal-group: 4 !important;
  -ms-flex-order: 3 !important;
  order: 3 !important;
}
.order-last {
  -webkit-box-ordinal-group: 100000 !important;
  -ms-flex-order: 99999 !important;
  order: 99999 !important;
}

/*************** Position Styles ***************/

.relative {
  position: relative !important;
}
.absolute {
  position: absolute !important;
}
.fixed {
  position: fixed !important;
}
.top-0 {
  top: 0 !important;
}
.right-0 {
  right: 0 !important;
}
.bottom-0 {
  bottom: 0 !important;
}
.left-0 {
  left: 0 !important;
}
.left-50 {
  left: 50% !important;
}
.z1 {
  z-index: 1 !important;
}
.z2 {
  z-index: 2 !important;
}
.z3 {
  z-index: 3 !important;
}
.z4 {
  z-index: 4 !important;
}
.z5 {
  z-index: 5 !important;
}
/*************** Border Styles ***************/

.border {
  border-style: solid !important;
  border-width: 1px !important;
}
.border-top {
  border-top-style: solid !important;
  border-top-width: 1px !important;
}
.border-right {
  border-right-style: solid !important;
  border-right-width: 1px !important;
}
.border-bottom {
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
}
.border-bottom-gray {
  border-color: #ecf2f7;
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
}
.border-left {
  border-left-style: solid !important;
  border-left-width: 1px !important;
}
.border-none {
  border: 0 !important;
}
.rounded {
  border-radius: 3px !important;
}
.circleSemi {
  border-radius: 15px !important;
}
.border-radius-6 {
  border-radius: 6px !important;
}
.circlehalf {
  border-radius: 25px !important;
}
.circle {
  border-radius: 50% !important;
}
.rounded-top {
  border-radius: 3px 3px 0 0 !important;
}
.rounded-right {
  border-radius: 0 3px 3px 0 !important;
}
.rounded-bottom {
  border-radius: 0 0 3px 3px !important;
}
.rounded-left {
  border-radius: 3px 0 0 3px !important;
}
.not-rounded {
  border-radius: 0 !important;
}

/*************** Custom Styles ***************/
.font-10 {
  font-size: 10px !important;
}
.font-11 {
  font-size: 11px !important;
}
.font-12 {
  font-size: 12px !important;
}
.font-13 {
  font-size: 13px !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-18 {
  font-size: 18px !important;
}
.font-20 {
  font-size: 20px !important;
}
.font-22 {
  font-size: 22px !important;
}
.font-24 {
  font-size: 24px !important;
}
.box-shadow {
  box-shadow: -1px 4px 11px 0px #00000012;
  -webkit-box-shadow: -1px 4px 11px 0px #00000012;
  -moz-box-shadow: -1px 4px 11px 0px #00000012;
}
.hide {
  position: absolute !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}
.height-full {
  height: 100% !important;
}
.height-half {
  height: 50% !important;
}
.height-30 {
  height: 30% !important;
}
.height-55 {
  height: 55vh !important;
}
.height-20px {
  height: 20px !important;
}
.height-40px {
  height: 40px !important;
}
.height-56px {
  height: 56px !important;
}
.pointer {
  cursor: pointer !important;
}
.not-allowed {
  cursor: not-allowed !important;
}
.hide-scrollbar {
  /* / Hide scrollbar for Chrome, Safari and Opera / */

  /* / Hide scrollbar for IE, Edge and Firefox / */
  -ms-overflow-style: none !important;
  /* / IE and Edge / */
  scrollbar-width: none !important;
  /* / Firefox / */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.icon-white path {
  color: white;
}
.icon-black path {
  color: black;
}
.text-light-color {
  color: #ccc;
}
.icon-16 {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.icon-18 {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.icon-20 {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.icon-25 {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.icon-30 {
  width: 29px;
  height: 30px;
}
.icon-22 {
  width: 22px;
  height: 22px;
}
.icon-40 {
  width: 34px;
  height: 34px;
}
.blue-color {
  color: #3e35f1 !important;
}
.red-color {
  color: red !important;
}
.black-color {
  color: black !important;
}
.icon-24 {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.icon-38 {
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.pagination ul li:first-child button {
  background-color: #2c7d27;
  color: #ffffff;
}

.background-color {
  background-color: #f6f6f6;
}

.pagination ul li:last-child button {
  background-color: #2c7d27;
  color: #ffffff;
}
/* / add css for table rows to show message / */
.truncate-multiline {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.message-cell {
  position: relative;
}

.MuiTooltip-tooltip {
  max-width: 400px;
  white-space: pre-line;
}
.inactiveLabel {
  color: gray;
  /* / or any color you want for inactive labels / */
}
.disabled-icon {
  pointer-events: none;
  opacity: 0.5;
}
.gap10 {
  gap: 10px;
}

/* / Define a class for the scrollable element / */
.scrollable {
  overflow-y: auto;
  /* / Ensure vertical scrolling / */
  scrollbar-width: thin;
  /* / For Firefox / */
}

/* / For webkit-based browsers like Chrome and Safari / */
.scrollable::-webkit-scrollbar {
  width: 4px;
  /* / Adjust the width of the scrollbar / */
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #888;
  /* / Adjust the color of the scrollbar thumb / */
}

.scrollable::-webkit-scrollbar-track {
  background-color: transparent;
  /* / Adjust the color of the scrollbar track / */
}
.checkbox {
  display: inline-block;
  margin: 0 0 0 20px;
  position: relative;
  top: 11px;
  width: 20px !important;
}
.input_label {
  font-size: 12px;
  font-synthesis: style;
}
.input_padding {
  margin-top: 4px;
}
.submit_btn_container {
  display: flex;
  gap: 2rem;
  padding: 10px;
  .clear_btn {
    background-color: red;
    color: white;
    width: 100px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
  }
  .submit_btn {
    background-color: green;
    color: white;
    width: 100px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
  }
}
.form_btn {
  height: unset;
  min-height: 40px;
  border-radius: 6px;
}
.form_button_css_updated {
  width: 100%;
  height: 45px;
  background-color: #f6f6f6;
  outline: none;
  border: 1px solid #000;
}

.button-Border {
  border: 1px solid #000;
}

.check-box-container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.list-conatiner {
  width: 100%;
  list-style-position: inside !important;
  overflow: auto;
}

.list-conatiner::-webkit-scrollbar {
  width: 3px;
}

.list-conatiner::-webkit-scrollbar-thumb {
  background-color: var(--grey-color-888);
  border-radius: 3px;
}

.list-conatiner::-webkit-scrollbar-track {
  background-color: var(--grey-color-eee);
  border-radius: 3px;
}
