.mainCnt {
  border: 1px solid #c0c0c094;
  text-align: center;
  padding: 1rem;
  line-height: 30px;
  border-radius: 6px;
  max-width: 70%;
  margin: 20px auto;
}

.sf_que_input {
  border: 0px;
  border-bottom: 1px solid rgb(51, 51, 51);
  border-radius: 0px;
  font-size: 16px;
  background-color: #c0c0c094;
  color: rgb(51, 51, 51);
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  border-radius: 3px;
}

.que_input_styles::placeholder {
  color: rgb(51, 51, 51) !important;
  font-family: "Poppins", sans-serif;
}

.ans_input {
  border: 0px;
  border-bottom: 1px solid #c0c0c094;
  border-radius: 0px;
  font-size: 14px;
  color: rgb(51, 51, 51);
  font-family: "Poppins", sans-serif;
}

.ans_textarea {
  border: 1px solid #c0c0c094;
  font-size: 14px;
  color: rgb(51, 51, 51);
  font-family: "Poppins", sans-serif;
}

.question_img {
  width: 200px;
  height: 200px;
  object-fit: fill;
  border-radius: 6px;
}

.option_radio {
  width: 16px;
  height: 16px;
}

.option_label_style {
  font-size: 14px !important;
  margin: 0px 10px;
  color: rgb(51, 51, 51);
  font-family: "Poppins", sans-serif;
}

.image_upload {
  border: 1px solid #888;
  padding: 4px 7px;
  border-radius: 5px;
  margin-bottom: 12px;
  width: max-content;
}
.que_img_div {
  padding: 10px;
  width: 25%;
  position: relative;
}
.que_img_arr {
  width: 100%;
  height: 200px;
  object-fit: fill;
  border-radius: 6px;
}
.form_button_css {
  width: 200px;
  height: 45px;
  background-color: #f6f6f6;
  outline: none;
  border: 1px solid #888;
  /* padding: 10px; */
}
.fileUpload {
  display: block !important;
}
.required_color {
  color: #ed252c;
}

.sf_cancel_icon {
  margin: 0px;
  display: flex;
  align-items: center;
  font-size: 14px;
  background-position: 0 0;
  border: 1px solid #ff333a8f;
  background-color: #f9949854;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--primary-color);
  transition: border 0.2s ease-in-out;
  padding: 0rem 0.4rem;
  position: absolute;
  right: -4px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: -4px;
  justify-content: center;
  font-weight: bold;
}
.sf_cancel_icon:hover {
  color: var(--white-color);
  border: 1px solid #ff333a8f;
  background: red;
}

.qa_range_container {
  display: flex;
  align-items: center;
}
input[type="range"] {
  padding: 0;
  width: 100%;
}
.sf_range_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.slider {
  width: 100%;
}
.sf_range_label {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.min-value,
.max-value {
  font-size: 14px;
  color: #666;
}
.qa_range_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.sf_range_subcontainer {
  position: relative;
  width: 100%; /* Adjust width as needed */
  height: 32px;
}

.sf_range_input {
  width: 100%;
  cursor: pointer !important;
}

.range_tooltip {
  position: absolute;
  bottom: -30px; /* Adjust top position as needed */
  left: 0;
  display: none;
  color: #fff;
  width: 40;
  background-color: #0075ff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  pointer-events: none;
  z-index: 1;
}

.sf_dropdown {
  width: 100%;
}

.sf_checkbox {
  margin-right: 10px;
}
